<!DOCTYPE html>
<html lang="en">
    <head>
        <title> HistoriaHub </title>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">
       

    </head>
    <body>
        <div class="container">
            <div class="nav-bar">
                <a href="/"> Home </a>
                <a href="about.html">About</a>
                <a href="/login"> Login </a>
                <a href="roman/roman.html"> Rome </a>
                <a href="greek/greek.html"> Greece </a>
                <a href="french/french.html"> France </a>
                <a href="usa/usa.html"> America </a>
                

            </div>

            <div class="title-container">
                <h1 id="historia"><span>Historia</span>Hub</h1>
                <h4 id="underabout">From Antiquity to Revolution: A History</h4>
          
            </div>

            <div class="user-container">
              <% if (status == "loggedIn") { %>
                <p class="card-title">Welcome <%= user.email.split('@')[0] %>,</p>
                <p class="card-title">You have 150 points!</p>
                <button class="login-btn"><a href="/logout" style="color: black; text-decoration: none;">Logout</button>
              <% } else { %>
                <p class="card-title">Welcome user, you are not logged in</p>
                <button class="login-btn"><a href="/login" style="color: black; text-decoration: none;">Login</button>
              <% } %>
                
            </div>

            <p id="descript">Explore the reading sections, then test your knowledge by taking the quizzes. Log in to track your progress and access exclusive content.</p>

            <div class="image-container">
                <!-- Rome -->
                <div class="image-wrapper">
                  <a href="roman/roman.html" data-title="Roman Republic">
                    <img src="images/romerepublic.webp" alt="Roman History">
                    <div class="overlay"> Roman Republic</div>
                  </a>
                </div>
                <div class="image-wrapper">
                  <a href="roman/roman.html#empireera" data-title="Roman Empire">
                    <img src="images/romanempire.png" alt="Roman History">
                    <div class="overlay"> Roman Empire</div>
                  </a>
                </div>
                <!-- Greece -->
                <div class="image-wrapper">
                  <a href="greek/greek.html" data-title="Ancient Greece">
                    <img src="images/athensschool.jpg" alt="Greek History">
                    <div class="overlay"> Ancient Greece</div>
                  </a>
                </div>
                <div class="image-wrapper">
                  <a href="greek/greek.html#alexera" data-title="Alexander the Great">
                    <img src="images/alexander.jpg" alt="Greek History">
                    <div class="overlay">Alexander the Great</div>
                  </a>
                </div>
                <!-- France -->
                <div class="image-wrapper">
                  <a href="french/french.html" data-title="French Revolution">
                    <img src="images/frenchrevolution.jpg" alt="French History">
                    <div class="overlay">French Revolution</div>
                  </a>
                </div>
                <div class="image-wrapper">
                  <a href="french/french.html#napolera" data-title="Napoleon Bonaparte">
                    <img src="images/napoleonhorse.jpg" alt="French History">
                    <div class="overlay">Napoleonic Era</div>
                  </a>
                </div>
                <!-- USA -->
                <div class="image-wrapper">
                  <a href="usa/usa.html" data-title="American Revolution">
                    <img src="images/americanrevolution.jpg" alt="American Revolution">
                    <div class="overlay">American Revolution</div>
                  </a>
                </div>
                <div class="image-wrapper">
                  <a href="usa/usa.html" data-title="American Civil War">
                    <img src="images/civilwar.jpg" alt="American Civil War">
                    <div class="overlay">American Civil War</div>
                  </a>
                </div>
        
            </div>

            <div class="footer">
              <div class="logo-section">
                <a id="small-historia" href="/"><span>Historia</span>Hub</a>
                <p>© Founded in 2023</p>
                <p> New York, USA</p>
                <p></p>
              </div>
              
              <div class="footer-section">
                <p class="footer-title">FAQs</p>
                <a href="about.html">About</a>
                <a href="about.html#mission">Mission</a>
                <a href="about.html#story">Story</a>
                <a href="about.html#contact">Contact</a>
              </div>

              <div class="footer-section">
                <p class="footer-title">Learn</p>
                <a href="roman/roman.html"> Rome </a>
                <a href="greek/greek.html"> Greece </a>
                <a href="french/french.html"> France </a>
                <a href="usa/usa.html"> America </a>
              </div>

              <div class="footer-section">
                <p class="footer-title">User</p>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
                <a href="/register">Register</a>
              </div>

              <div class="footer-section">
                <p class="footer-title">Features</p>
                <a id="atlas-explora" href="https://atlasexplora.netlify.app/">Atlas Explora</a>
                <a href="usa/usa.html">Coming Soon</a>
                <a href="/">Jump to Top</a>
              </div>
              

            </div>

        </div>

        <script src="script.js"></script>
    </body>


</html>