*, *::before, *::after {
    box-sizing: border-box;
    font-family: Times New Roman;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     
 
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 18px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    font-size: 35px;

}


.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 10px;

}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 2.5px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 24px;
    height: 60px;
      
}

/* for smaller screens */
@media (max-width: 768px) {
    .container {
        font-size: 28px;
    }

    .btn{
        font-size: 20px;
    }

}

/* even smaller screens*/
@media (max-width: 480px) {
    .container {
        font-size: 24px;
    }
    .btn{
        font-size: 18px;
    }
   
}

.btn:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
    
}

.btn.wrong{
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}

.hide{
    display: none;
}

#quiztitle{
    color: black;
    font-size: 35px;
}